*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header{
	width: 100%;
	height:670px;
	background: url("../img/Header.png") no-repeat center/cover;
	position: relative;
	z-index: 0;
}
.container{
	width: 960px;
	margin: 0 auto;
}


.header:before {
	content: '';
	display: block;
	width: 100%;
	height:100%;
	background: url("../img/Header-overlay.png") no-repeat center/cover;
	position: absolute;
	z-index: -1;
}

.nav{
	float: right;
	margin-top: 30px;
}
.nav ul{
	list-style-type:none;
}
.nav li{
	display: inline-block;
}
.nav a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 13px;
	margin-right: 25px;
}

.logo{
	margin-top:15px;
}

.header-text{
	margin-top: 160px;
}

.title-text{
	font-family: 'Playfair Display', serif;
	font-size: 32px;
	font-weight: 900;
	text-align: center;
	color: #fff;
}


.title-text2{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #fff;
	line-height: 24px;
	padding: 0 5px;
	text-align: center;
}

.hr{
	border: none;
	height: 2px;
	width: 50px;
	margin: 26px auto 30px;
	background-color:#00e0d0;
	z-index: 2;
}

.button-learn{
	display: flex;
	width: 120px;
	height: 40px;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #00e0d0;
	border: 2px solid #00e0d0;
	border-radius: 2px;
	
	margin: 52px auto 0;
	font-family: 'Hammersmith One', sans-serif;
	font-size: 14px;
}

.nav a:hover {
	color: #00e0d0;
}

.dotnav {
	display: flex;
	justify-content: space-between;
  width: 55px;
  margin: 120px auto 0;
}
.dot {
	border: 1px solid #00e0d0;
	border-radius: 50%;
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.dot:hover{
	background-color:#00e0d0;
}


/* блок наша история */
.our-story{
	height: 402px;
	width: 100%;
}

.our-video{
	height: 550px;
	width: 100%;
	background: url("../img/NY.png") no-repeat center/cover;
}
.our-video:before {
	content: '';
	display: block;
	width: 100%;
	height:100%;
	background: url("../img/NY_overlay.png") no-repeat center/cover;
	z-index: -1;
}

.about_logo{
	margin: 70px 0 0 65px;
}

.text-our-story{
	margin-top: 70px;
	float: right;
	width: 560px;
	height: 260px;
}

.button-learn-more{
	display: flex;
	width: 120px;
	height: 40px;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #00e0d0;
	border: 2px solid #00e0d0;
	border-radius: 2px;
	
	margin-top: 32px;
	font-family: 'Hammersmith One', sans-serif;
	font-size: 14px;
}

.text1-ourstory{
	text-transform: uppercase;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 22px;
	margin-bottom: 25px;
}

.text2-ourstory{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 14px;
	margin-bottom: 30px;
	line-height: 1.5;
	text-align: justify;
}
.text3-ourstory{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.5;
	text-align: justify;
}









